#welcome{
    font-size: 50px;
    color: #fddb2b;
}

.body{
    background-color: #4a8e61;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.img{
    height: 200px;
    width: 250px;
}

.header{
    font-size: 50px;
    font-family: 'Noto Serif Display', serif;
}